@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400&family=Oswald:wght@200;500;700&display=swap");

* {
  /* border: 1px solid lightgrey; */
}

.blog__container p {
  font-family: Lora;
  line-height: 1.7;
  text-align: start;
  width: 100%;
}
.blog__container strong {
  font-weight: 800;
}
.blog__container pre {
  width: 100%;
  font-family: monospace;
  overflow: scroll;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(224, 241, 241);
}
.blog__container p > a {
  color: orange !important;
  font-weight: 800;
  text-decoration: none;
}

.blog__container p:nth-child(5),
.blog__container p:nth-child(11),
.blog__container p:nth-child(17),
.blog__container p:nth-child(24),
.blog__container p:nth-child(31),
.blog__container p:nth-child(37) {
  background: orange;
  color: white;
  padding: 20px;
  transform: skewY(-2deg);
}

.blog__container p:nth-child(5) > a,
.blog__container p:nth-child(11) > a,
.blog__container p:nth-child(17) > a,
.blog__container p:nth-child(24) > a,
.blog__container p:nth-child(31) > a,
.blog__container p:nth-child(37) > a {
  color: black !important;
  font-weight: 800;
  text-decoration: none;
}

.blog__container p.block-img {
  text-align: center;
}

.blog__container h1 {
  font-family: Oswald;
  font-size: 50px;
  text-align: center;
}

.blog__mainImage {
  margin-bottom: 36px;
  filter: grayscale(0.8);
  box-shadow: 5px 7px 23px -6px rgba(0, 0, 0, 0.91);
}

@media screen and (max-width: 600px) {
  .blog__container p {
    font-size: 20px;
  }
}

.podcast__socials {
  filter: grayscale(0.4);
}

.rounded {
  border-radius: 50%;
}
.rounded-corners {
  border-radius: 25px;
}

.orange-border {
  border: 3px solid orange !important;
}
.grey-border {
  border: 3px solid grey !important;
}

.MuiButton-root.MuiButtonBase-root:hover {
  background: rgb(224, 153, 87) !important;
}
.hover-fade {
  transition: 0.3s;
}
.hover-fade:hover {
  filter: grayscale(0.9);
}

.hover-line {
  display: inline-block;
  position: relative;
  color: #eb9515;
}
.hover-line:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #eb9515;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-line:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.Tiktok__wrapper div {
  width: inherit !important;
  height: inherit !important;
}

.Tiktok__wrapper div video {
  border-radius: 25px;
}

span img.twitter__img {
  height: 70px !important;
  width: 70px !important;
  position: revert !important;
  border-radius: 50% !important;

  min-width: 70px !important;
  max-width: inherit !important;
  min-height: inherit !important;
  max-height: inherit !important;
}

.twitter__profilePicName > span > span {
  border: 1px solid red;
  display: none !important;
}

a.twitter__link {
  text-decoration: none;
}
